
@use "bulma/bulma";
@use "../static/bulma-tooltip.css";

html, body{
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0;
  padding: 0 !important;
  display: flex;
  width: 100vw;
  height: 100vh;
}
